// Styling for the menu
#header-wrapper {
  height: 100vh;
  position: fixed;
  width: auto;
}
// Site branding
.uu-bar {

}
// The menus
.menus {

}
.main-menu {

}
.secondary-menu {

}
.social-media {

}
