#wrapper-footer-full {
	clear: both;
	@include media-breakpoint-down(xs) {
		background-color: $black;
  		color: $white;
  	}
	display: block;
	h1 {
		font-family: $serif;
		font-size: 13px;
		font-weight: 400;
		background: $footer-bg;
		margin-top: 60px;
		@include media-breakpoint-down(xs) {
			display: none;
		}
	}

	.footer-logo {
		@include media-breakpoint-down(xs) {
			display: none;
		}
	}
}

.footer-content {
	padding: 15px 0;
}

.footer-widget {
	font-size: 9px;
	padding: 15px;
	border-top: 1px solid $mobile-border;
}